<h3>My Edit</h3>

<%= form_for(@post) do |p|%>
  <label>Post title:</label><br>
  <%= p.text_field :title %><br>

  <label>Post Description</label><br>
  <%= p.text_area :description %><br>
  
  <%= p.submit "Update Post" %>
<% end %>